<form action="/login" method="post">
  <label for='username'>USERNAME:</label><br/>
  <input id="username" type="text" name="username"><br/>
  <label for="password">PASSWORD:<br/>
  <input id="password" type="password" name="password"><br/><br/>
  
  <input id ="submit" type="submit" value="Log In">
  <% if @failed %>
    <p class="wrong">Wrong username or password</p>
  <% end %>
</form>