<form action="/users/login" method="post">
  <label for='username'>USERNAME:</label><br/>
  <input type="text" name="username"><br/>
  <label type="password" name="password">PASSWORD:</label><br/>
  <input type="password" name="password"><br/><br/>
  <input type="submit" value="Log In">
</form>