<form action="/users/login" method="post">
  <label for='username'>USERNAME:</label><br/>
  <input id="username" type="text" name="username"><br/>
  <label for="password" name="password">Password<br/><br/>
  <input id ="password" type="submit" value="Log In">
</form>