<form action="/login" method="post">
  <label for='username'>USERNAME:</label><br/>
  <input id="username" type="text" name="username"><br/>
  <label for="password" name="password">Password<br/>
  <input id="password" type="password" name="password"><br/><br/>
  
  <input id ="submit" type="submit" value="Log In">
</form>