<form action="/users" method="post">
  <p><label for="name">Name:</label></p>
  <input type="text" name="name" id="name"> <br/><br/>
  <p><label for="username">Username:</label></p>
  <input type="text" name="username" id="username"> <br/><br/>
  <p><label for="password">Password:</label></p>
  <input type="password" name="password" id="password"> <br/><br/>
  <input type="submit" value="Sign Up!">
</form>

<% if @user && @user.errors.any? %>
  <% @user.errors.full_messages.each do |error| %>
    <p class="wrong"><%= error %></p>
  <% end %>
<% end %> 
