<form method='POST' action='/shows/<%= @show.id %>'>
<input id="hidden" type="hidden" name="_method" value="patch">
<p><label for "title">Edit:</label></p>
<input type="text" id="title" name="title" value="<%= @show.title %>">
<p><label for "seasons">Edit:</label></p>
<input type="integer" id="seasons" name="seasons" value="<%= @show.seasons %>">
<p><label for "channel">Edit:</label></p>
<input type="text" id="channel" name="channel" value="<%= @show.channel %>">
<br /><br />
<input type="submit" id="submit" value="Save Changes">
</form>


