<% if @show.user == current_user %>
<form method='POST' action='/shows/<%= @show.id %>'>
<input id="hidden" type="hidden" name="_method" value="patch">
<h4>Title: <%= @show.title %></h4>
<p><label for "title">Edit:</label></p>
<input type="text" id="title" name="title">
<h4>Seasons: <%= @show.seasons %></h4>
<p><label for "seasons">Edit:</label></p>
<input type="integer" id="seasons" name="seasons">
<h4>Channel: <%= @show.channel %></h4>
<p><label for "channel">Edit:</label></p>
<input type="text" id="channel" name="channel">
<br /><br />
<input type="submit" id="submit" value="Save Changes">
</form>
<% else %>
<p class="wrong"> This is not your show... Sorry but you can't edit or delete it... Oops! </p>
<% end %> 

