<html>
  <% if !!@error_message %>
    <p class="wrong">There was an error while trying to create your show, please try again</p>
  <% end %>
  
  
<!--<form method="POST" action="/shows">-->
<!--  <label for "title">Title: </label>-->
<!--  <input type="text" id="title" name="title">-->
<!--  <br />-->
<!--  <label for "seasons">Seasons: </label>-->
<!--  <input type="integer" id="seasons" name="seasons">-->
<!--  <br />-->
<!--  <label for "channel">Channel: </label>-->
<!--  <input type="text" id="channel" name="channel">-->
<!--  <br />-->
<!--  <input type="submit" id="submit" value="Submit">-->
<!--</form>-->
<!--</html>-->
<form method="POST" action="/shows">
  <p style="font-family:verdana; color:#090086"><label for "title">Title: </label></p>
  <input type="text" id="title" name="title">
  <br />
  <p style="font-family:verdana; color:#090086"><label for "seasons">Seasons: </label></p>
  <input type="integer" id="seasons" name="seasons">
  <br />
   <p style="font-family:verdana; color:#090086"><label for "channel">Channel: </label></p>
  <input type="text" id="channel" name="channel">
  <br /><br/>
  <input type="submit" id="submit" value="Submit">
</form>

<style>
	html{
    background-color: pink
    }
</style>
