
  <% if !!@error_message %>
    <p class="wrong">There was an error while trying to create your show, please try again</p>
  <% end %>

<form method="POST" action="/shows">
  <p><label for "title">Title: </label></p>
  <input type="text" id="title" name="title">
  <br />
  <p><label for "seasons">Seasons: </label></p>
  <input type="integer" id="seasons" name="seasons">
  <br />
   <p><label for "channel">Channel: </label></p>
  <input type="text" id="channel" name="channel">
  <br /><br/>
  <input type="submit" id="submit" value="Submit">
</form>

  <% if !!@blank_error %>
    <p class="wrong">You can't leave stuff blank, please try again</p>
  <% end %>

