<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Sinatra Project</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1 style="font-family:verdana; color:#090086" ><center>Binge God</h1></center>
    <h3 style="font-family:verdana; color:#090086"><center>Your #1 management source for your TV shows!</center></h3>
    <% if logged_in? %>
      <center><a href="/shows">Your Shows</a></center>
      <center><a href="/shows/new">Add a new Show</a></center>
      
    <% end %>
    <%= yield %>
    <% if logged_in? %>
      <center><a href="/logout">Log Out</a></center>
    <% end %>
  </body>
</html>